
/*FooterHome.jsx*/
#footerContainer{
    z-index: 3;
    
    font-family: 'Roboto';
    color: white;
}

/* HeaderHome.jsx**/
#headerContainer{
    z-index: 2;
}
#navlogo{

    margin-left: 1em;
    font-size: 3em;
    font-family: 'Montserrat';
    font-weight: 800;
    letter-spacing: 3px;
    
    color: white;
     

}

/*MainHome.jsx */

#mainContainer{ 
    position: relative;
    color: white;
}




